<div class="footer">
    <div class="footer__socialNetwork">
        <img src="./../../assets/images/footer-icons/twitter-icon.png" alt="twitter" >
        <img src="./../../assets/images/footer-icons/facebook-icon.png" alt="facebook" >
        <img src="./../../assets/images/footer-icons/gmail-icon.png" alt="gmail" >
        <img src="./../../assets/images/footer-icons/instagram-icon.png" alt="instagram" >

    </div>
    <div class="footer__navigation">
        <!--<app-navigation></app-navigation>-->
        <div class="footer__date">
            <p>© {{year }} PetsFriend</p>
        </div>

    </div>
    <div class="footer__bankCards">
        <img src="./../../assets/images/footer-icons/paypal-icon.png" alt="twitter">
        <img src="./../../assets/images/footer-icons/maestro-icon.png" alt="twitter">
        <img src="./../../assets/images/footer-icons/visa-icon.png" alt="twitter">
    </div>

</div>
