<footer class="container">
        <section class="About">
            <h3>About</h3>
            <ul>
                <li>Contact Us</li>
                <li>Terms of Service</li>
                <li>Privacy Policy</li>
            </ul>
        </section>
        <section class="Navigation">
            <h3>Navigation</h3>
            <ul>
                <li>Home</li>
                <li>Partners</li>
                <li>Sign In</li>
            </ul>
        </section>
        <section class="Connect">
            <h3>Connect</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </section>
</footer>