.about {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    &__information{
        font-size:20px;
        margin:150px 0 150px 150px;

    }
    &__contactForm {
       display:flex;
       flex-direction: column;
       justify-content:center;
       margin:150px;
       &-position {
        margin-top:30px;

       }
        input {
            box-sizing: border-box;
            height:30px;
            width:27vw;
            border:1px solid gray;
        }
        textarea {
            box-sizing: border-box;
            border:1px solid gray;
            width:27vw;
        }
        button {
            width:6vw;
            height:30px;
            margin-top:20px;
            background-color:darkgrey;
        }
        

    }

}
textarea {
    resize: vertical;
}
.error {
    color:red;
}
