<<<<<<< HEAD
.container {
   display:flex;
   flex-direction: row;
   justify-content: center;
   overflow: auto;
}
.aboutUs {
    font-size:20px;
    margin:150px 0 150px 150px;
}
.contact {
    &-container {
        display:flex;
        flex-direction: column;
        margin:150px;
    }
    &-form {
        display: flex;
        flex-direction: column;
    }
}
input {
    box-sizing: border-box;
    border-color: black;
    height:30px;
    width:27vw;
    margin-bottom: 36px;
=======
.about {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    &__information{
        font-size:20px;
        margin:150px 0 150px 150px;

    }
    &__contactForm {
       display:flex;
       flex-direction: column;
       justify-content:center;
       margin:150px;
       &-position {
        margin-top:30px;

       }
        input {
            box-sizing: border-box;
            height:30px;
            width:27vw;
            border:1px solid gray;
        }
        textarea {
            box-sizing: border-box;
            border:1px solid gray;
            width:27vw;
        }
        button {
            width:6vw;
            height:30px;
            margin-top:20px;
            background-color:darkgrey;
        }
        

    }

>>>>>>> 301ad26465e1cfa1218a46b39c0f324ea0ba3e25
}
.error {
    color:red;
}
<<<<<<< HEAD
button[type=submit] {
    width:100px;
    height:30px;
    border-radius: 3px;
    margin-top:10px;
    cursor: pointer;
}
textarea {
    resize: vertical;
}


=======
>>>>>>> 301ad26465e1cfa1218a46b39c0f324ea0ba3e25
