.members-main-content{
  display:flex;
  width: 90vw;
  height: 400px;
  background-color: red;
  margin: 0 auto;
  &-top{
    width: 50%;
    background-color: aqua;


  }
  &-member{
    display: flex;
    justify-content: center;
    align-items: center;
    &-img{
      width: 15vw;
      height: 15vw;
      margin: 15px;
      position: relative;

      img{
        width: 15vw;
        height: 15vw;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
      }

    }
    &-name{
      position: absolute;
      top: 2vw;
      color: red;
      left: 1vw;
      font-size: 2.5vw;
      z-index: 1;
    }
    &-age{
      position: absolute;
      bottom: 1vw;
      color: gold;
      right: 2vw;
      font-size: 2.5vw;
      z-index: 1;
    }
  }
}
