<div class="members-main-content">
  <div class="members-main-content-top">
      <div class="members-main-content-member">
        <div class="members-main-content-member-img">
          <p class="members-main-content-member-name">Tapchka</p>
          <img src="./../../../assets/images/selectBox/member.jpg" alt="">
          <p class="members-main-content-member-age">25</p>
        </div>

        <div class="members-main-content-desc">
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit.
          Asperiores assumenda consequatur deleniti enim eveniet hic,
          id impedit iusto labore maiores nostrum
          perferendis possimus provident quam quibusdam
          repudiandae sequi tempora voluptates!
        </div>
      </div>
  </div>
  <div class="members-main-content-all"></div>
</div>
