<div class="members-main-content">
  <div class="members-main-content-top">
      <div class="members-main-content-member">
        <div class="members-main-content-member-img">
          <p class="members-main-content-member-name">Tapchka</p>
          <img src="./../../../assets/images/selectBox/member.jpg" alt="">
          <p class="members-main-content-member-age">25</p>
        </div>

        <div class="members-main-content-desc">
          <h2 class="members-main-content-desc-title">Dog Walker</h2>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit.
          Asperiores assumenda consequatur deleniti enim eveniet hic,
          id impedit iusto labore maiores nostrum
          perferendis possimus provident quam quibusdam

          <app-rating></app-rating>


        </div>
      </div>
  </div>
  <div class="members-main-content-all">

      <div class="members-main-content-all-member">
        <div
          class="members-main-content-all-member-img"

        >

          <img src="./../../../assets/images/selectBox/member.jpg" alt="">

        </div>

        <div class="members-main-content-desc">
          <h5 class="members-main-content-desc-title">Dog Walker</h5>
          <p>{{member}}</p>
          <p class="members-main-content-all-member-name">Tapchka</p>
          <p class="members-main-content-all-member-age">25</p>
        </div>
        <div class="members-main-content-all-members-rating-box">
          <app-rating></app-rating>
        </div>
        <p class="members-main-content-all-member-cost">22$</p>
      </div>

  </div>
</div>
