
  <div class="select-box">
    <div hoverChoice
    class="select-box-animal-or-choose"
    *ngFor="let item of selectItems"
    (click)="selectPet(item)"
    [ngClass]="{ actived: item.isActive }"
  >

        <p class="select-box-animal-title">{{item.itemName}}</p>
        <img src="{{item.img}}" alt="">

    </div>
</div>
  <div>
    <div class="select-box-services select-box" *ngIf="selectedPet">
      <div class="select-box-services-icons">
          <div 
                *ngFor="let icon of icons"
          >
                <img src="{{icon}}" alt="">    
          </div>
      </div>
      <div class="select-box-services-names">
          <div
                class="select-box-animal-or-choose"
                *ngFor="let service of typeOfPet.services"
          >
                <p >
                  {{service}}
                </p>
          </div>
      </div>
    </div>
</div>


<app-members *ngIf="selectedPet" [selectedPet]="selectedPet"></app-members>

