.select-box{

  width: 60vw;
  background-color: rgba(0,0,0,0.6);
  margin: 0 auto;
  position: relative;
  height: 250px;
  //top:40vh;
  display:flex;
  &-animal-or-choose{
    width: 11vw;
    margin: 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  &-animal-title{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
  }
  &-services{
    border-top:10px solid #AD2;
    margin-top: 10px;
    display:flex;
    justify-content: column;
    &-icons {


    }
  }
}
.hovered{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: .5s all;
  z-index: 10;
}
.actived{
  transform: scale(1.15);
  box-shadow: 0 0 20px rgba(150, 180, 50, 0.5);
  transition: .5s all;
  z-index: 10;
}
.icons {
  display:flex;
  justify-content: space-around;

}
.services {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color:white;
}

.service {
  display:flex;
  flex-direction: column
}