<div class="members-main-content-top">
  <div class="members-main-content-top-member">
    <div class="members-main-content-top-member-img">
      <img src="./../../../../assets/images/selectBox/member.jpg">
      <!-- <div class="members-main-content-top-member-img-age">25</div> -->
    </div>

    <div class="members-main-content-top-member-desc">
      <h3 class="members-main-content-top-member-desc-name">Poghos Poghosyan</h3> <br/>
      <div class="members-main-content-top-member-desc-about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem rem obcaecati magni, possimus nostrum? Iusto commodi ab eaque non at porro totam, quo aliquid, beatae vero voluptas minus explicabo.
      </div>
      <app-rating style="font-size: 100%"></app-rating>
    </div> 
  </div>
  
</div>
