<div class="members-main-content-all">
    <div class="members-main-content-all-member">
        <div class="members-main-content-all-member-img">
          <img src="./../../../../assets/images/selectBox/member.jpg">
        </div>
    
        <div class="members-main-content-all-member-desc">
          <h3 class="members-main-content-all-member-desc-name">Petros Petrosyan</h3> <br/>
          <div class="members-main-content-all-member-desc-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem rem obcaecati magni, possimus nostrum? Iusto commodi ab eaque non at porro totam, quo aliquid, beatae vero voluptas minus explicabo.
          </div>
          <app-rating style="font-size: 50%"></app-rating>
        </div> 
      </div>



</div>