.navigation-top{
  background-color: #000;
  height: 60px;
  &-container{
    display:flex ;
    justify-content: space-around;
    li{
      list-style-type: none;
      padding: 20px;
      font-size: 20px;
    }
  }
  &-item{
    text-decoration: none;
    color: #fff;
  }
  &-item:hover{

    background-color: rgba(48, 48, 48, 0.75);
  }


}
.active{
  color: red;
  //background-color: rgba(48, 48, 48, 0.75);
}