.main-header{
  width: 100%;
  height: 120vh;
  background-image: url(./../../assets/images/pet.jpg);
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &-description{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    div{
      width: 25%;
      position: relative;
      top: 20vh;
      right: 15vw;
    }
  }
}