<section class="main-header">
    <div class="main-header-description">
        <div>
            <h1>Lorem ipsum dolor sit amet,</h1>
            <h3>consectetur adipisicing elit.
            Ab aliquam doloremque facilis fuga fugiat fugit impedit nulla officia,
            pariatur perferendis provident quasi quibusdam quidem quod repellat ullam vero?
            Sed, voluptatem.consectetur adipisicing elit.
                Ab aliquam doloremque facilis fuga fugiat fugit impedit nulla officia,
                pariatur perferendis provident quasi quibusdam quidem quod repellat ullam vero?
                Sed, voluptatem.</h3>
        </div>
    </div>
    <app-select-box></app-select-box>
</section>

